.main_container{
    width: 100%;
}
.container{
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:rgb(165, 253, 224);
}