<div class="0" [ngSwitch]="itemId">
  <div class="1" *ngSwitchCase="'1'" style="margin: 3rem;">
    <h2>
      Course Name:-
      <h3>CSIR-NET/GATE - 2024</h3>
    </h2>
    <h2>about</h2>
    <p>
      Introducing Ask Geology, a premier coaching institute that offers
      comprehensive, personalized instruction and resources tailored to the
      individual needs of each student. We understand the demands and
      requirements of competitive exams such as GATE, NET, GSI, JAM and
      university exams and are dedicated to providing the support and guidance
      needed to excel. Ask_Geology proudly announces the launch of online
      coaching for GATE 2024 in Geology.
    </p>
    <p>Classes will start from June-2023</p>
    <mat-card>
      <mat-card-header><h1>What we will be provided: </h1></mat-card-header>
      <mat-card-content>
        1. Live and Recorded class lectures <br> 2.Doubt Clearing sessions <br> 3. Class
        PPTz and relevant study materials <br> 4. Topic wise Tests with Video
        Solutions We wish, you will enjoy the course.
      </mat-card-content>
      <mat-card-actions>
        <a
          style="text-decoration: none"
          href="https://play.google.com/store/apps/details?id=co.rogers.qypqp"
          target="_blank"
        >
          <button>Buy this course</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="2" *ngSwitchCase="'2'" style="margin: 3rem;">
    <h2>
      Course Name:-
      <h3>IIT-JAM-BHU-DU-PU-2024</h3>
    </h2>
    <h2>about</h2>
    <p>
      Introducing Ask Geology, a premier coaching institute that offers
      comprehensive, personalized instruction and resources tailored to the
      individual needs of each student. We understand the demands and
      requirements of competitive exams such as GATE, NET, GSI, JAM and
      university exams and are dedicated to providing the support and guidance
      needed to excel. Ask_Geology proudly announces the launch of online
      coaching for GATE 2024 in Geology.
    </p>
    <p style="background-color: antiquewhite;">Classes will start from June-2023</p>
    <mat-card>
      <mat-card-header><h1>What we will be provided: </h1></mat-card-header>
      <mat-card-content>
        1. Live and Recorded class lectures <br> 2.Doubt Clearing sessions <br> 3. Class
        PPTz and relevant study materials <br> 4. Topic wise Tests with Video
        Solutions We wish, you will enjoy the course.
      </mat-card-content>
      <mat-card-actions>
        <a
          style="text-decoration: none"
          href="https://play.google.com/store/apps/details?id=co.rogers.qypqp"
          target="_blank"
        >
          <button>Buy this course</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="3" *ngSwitchCase="'3'" style="margin: 3rem;">
    <h2>
      Course Name:-
      <h3>GATE/NET/GSI (pre)-2024</h3>
    </h2>
    <h2>about</h2>
    <p>
      Introducing Ask Geology, a premier coaching institute that offers
      comprehensive, personalized instruction and resources tailored to the
      individual needs of each student. We understand the demands and
      requirements of competitive exams such as GATE, NET, GSI, JAM and
      university exams and are dedicated to providing the support and guidance
      needed to excel. Ask_Geology proudly announces the launch of online
      coaching for GATE 2024 in Geology.
    </p>
    <p>Classes will start from June-2023</p>
    <mat-card>
      <mat-card-header><h1>What we will be provided: </h1></mat-card-header>
      <mat-card-content>
        1. Live and Recorded class lectures <br> 2.Doubt Clearing sessions <br> 3. Class
        PPTz and relevant study materials <br> 4. Topic wise Tests with Video
        Solutions We wish, you will enjoy the course.
      </mat-card-content>
      <mat-card-actions>
        <a
          style="text-decoration: none"
          href="https://play.google.com/store/apps/details?id=co.rogers.qypqp"
          target="_blank"
        >
          <button>Buy this course</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="4" *ngSwitchCase="'4'" style="margin: 3rem;">
    <h2>
      Course Name:-
      <h3>UPSC GSI 2024</h3>
    </h2>
    <h2>about</h2>
    <p>
      Introducing Ask Geology, a premier coaching institute that offers
      comprehensive, personalized instruction and resources tailored to the
      individual needs of each student. We understand the demands and
      requirements of competitive exams such as GATE, NET, GSI, JAM and
      university exams and are dedicated to providing the support and guidance
      needed to excel. Ask_Geology proudly announces the launch of online
      coaching for GATE 2024 in Geology.
    </p>
    <p>Classes will start from June-2023</p>
    <mat-card>
      <mat-card-header><h1>What we will be provided: </h1></mat-card-header>
      <mat-card-content>
        1. Live and Recorded class lectures <br> 2.Doubt Clearing sessions <br> 3. Class
        PPTz and relevant study materials <br> 4. Topic wise Tests with Video
        Solutions We wish, you will enjoy the course.
      </mat-card-content>
      <mat-card-actions>
        <a
          style="text-decoration: none"
          href="https://play.google.com/store/apps/details?id=co.rogers.qypqp"
          target="_blank"
        >
          <button>Buy this course</button></a
        >
      </mat-card-actions>
    </mat-card>
  </div>

</div>
