
<h1>Watch Our Demo Classes</h1>
<div class="main_container">

  <div class="container carousel-items " >
   
         <div class="cards" >
          <div class="card card-one " *ngFor="let item of imageObject">
            <a href="{{item.video}}" target="_blank">
            <h2 class="card-title">class 0{{item.id}}</h2>
            <!-- <p class="date">May 25, 2021</p> -->
            <p class="description">{{item.title}}</p>
          </a>
          </div>
        </div>

      </div>
      <!-- <img src="../../assets/democlassgif.gif"> -->
     
         </div>
