<div class="image-container">
    <a style="text-decoration: none" href="https://play.google.com/store/apps/details?id=co.rogers.qypqp"
        target="_blank">
    <img src="../../assets/testbanner.jpg" alt="person1" style="height: 400px;width: 600px;overflow: hidden;">
    
        <button class="image-button">Buy this Test-Series click on the image or in this button</button></a>
        <p class="para">
            Only on 2500 /-
        </p>
        <mat-icon class="image-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="dangerous" mat-dialog-close></mat-icon>
</div>