.image-container {
    position: relative;
    display: inline-block;
}
.image-button {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #9b6eaf;
    color: #fff;
    /* margin-top: 12rem; */
    border: none;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    border-radius: 10px;
    /* box-shadow: none; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.para {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #9b6eaf;
    color: #fff;
    /* margin-top: 12rem; */
    border: none;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    /* border-radius: 10px; */
    /* box-shadow: none; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.image-icon {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    color: #fff;
    /* margin-top: 12rem; */
    border: none;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    border-radius: 10px;
    background: none ;
    /* box-shadow: none; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
