::ng-deep {
  $successfull: rgb(50, 198, 130);
  $dangerous: rgb(255, 85, 73);
  $warning: rgb(238, 191, 49);
  $information: rgb(38, 192, 211);

  .success {
    background-color: $successfull !important;
    color: #fff !important;
  }

  .danger {
    background-color: $dangerous !important;
    color: white !important;
  }

  .warn {
    background-color: $warning !important;
    color: white !important;
  }

  .info {
    background-color: $information !important;
    color: #ffff !important;
  }
}
.mat-toolbar{
  margin-top: 6rem !important;
}

*{
  // overflow-y: scroll;
  overflow-x:hidden;
}
$backgroundColor:linear-gradient(to right, #009688, rgb(99, 208, 244));
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .animated-sentence {
    display: inline-block;
    overflow: hidden;
    animation: animate-sentence 1s steps(12, end) ;
  }
  
  @keyframes animate-sentence {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    background: $backgroundColor; /* Gradient colors */
    -webkit-background-clip: text; /* Safari and Chrome */
    -webkit-text-fill-color: transparent; /* Safari and Chrome */
    background-clip: text;
    text-fill-color: transparent;
    margin-top: 1rem;
    padding: 15px;
    font-family: cursive;
  
  }
  