<div class="main_container">
  <div class="container">
    <div class="text">
      <p class="span">.Welcome to the</p>
      <h1>New Era of E-learning Platform</h1>
      <p style="font-size: 20px; opacity: 0.7; margin-top: 1rem">
        One Stop Geology Solution.
      </p>
      <button class="btn" (click)="getStarted()">Get Started</button>
      <div class="social_links">
        <a href="https://chat.whatsapp.com/HdXekyssr1j3stn4U0i9br" target="_blank"
          ><img
            class="icons"
            src="../../assets/whatsapp.png"
            alt="whatsapp"
            matTooltip="whatsapp link"
            matTooltipHideDelay="1000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
        <a href="https://www.instagram.com/ask_geology/?hl=en" target="_blank"
          ><img
            class="icons"
            src="../../assets/instagram.png"
            alt="instagram.png"
            matTooltip="instagram link"
            matTooltipHideDelay="1000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
        <a href="#" target="_blank"
          ><img
            class="icons"
            src="../../assets/linkedIn.png"
            alt="linkedIn"
            matTooltip="linkedIn link"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
        <a href="https://www.facebook.com/profile.php?id=100082749649439" target="_blank"
          ><img
            class="icons"
            src="../../assets/facebook.png"
            alt="facebook.png"
            matTooltip="facebook link"
            matTooltipHideDelay="1000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
        <a href="#" target="_blank"
          ><img
            class="icons"
            src="../../assets/twitter.png"
            alt="twitter.png"
            matTooltip="twitter link"
            matTooltipHideDelay="1000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
        <a href="https://www.youtube.com/askgeology" target="_blank" style="background: white;
        height: 30px;
        width: 40px;"
          ><img
            class="icons"
            src="../../assets/youtube.png"
            alt="youtube.png"
            matTooltip="youtube link"
            matTooltipHideDelay="1000"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        /></a>
      </div>
     
    </div>
     
    <div class="img">

      <img class="landingpage_logo" src="../../assets/landingpage_logo.gif" />
    </div>

  </div>
</div>
