<!-- <app-nav-bar></app-nav-bar> -->
<marquee style="margin-top: 6rem;height: 65px;">
  <small style="font-size: 25px;">here are the latest notifications</small>
</marquee>
<div class="mainContainer">
  <div class="container1">

    <app-landing-page></app-landing-page>
  </div>
  <div class="playStore">
    <a style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=co.rogers.qypqp" target="_blank">
    <div class="playstoreDiv">
      <div>

        <img src="../../assets/playStoreImg.png" alt="playStoreImg" />
      </div>
      <div>

        <p> Purchase this course on Our App :)</p>
      </div>
    </div>
  </a>
  </div>
  <div class="container3 course">
   <app-cource></app-cource>
  </div>
   <div class="container4">
    <app-contact></app-contact>
  </div>
  <div class="container5">
    <app-demo-classes></app-demo-classes>
  </div>
  <!-- <div class="container6">
    <swiper [config]="swiperConfig" >
      <div *ngFor="let client of clients; let index = index" ngxSwiperSlide>
        <div class="testimonial">
          <!-- <img [src]="client.img1" alt="cdcw" /> 
          <span class="font">{{ client.title }}</span>
        </div>
      </div>
    </swiper>
    
    
  </div> -->
</div>
