<!-- <app-nav-bar></app-nav-bar> -->
<marquee style="margin-top: 6rem;height: 65px;">
  <small style="font-size: 25px;">NET-GATE-GSI (pre) Test Series is now live :- Check our app 👉 <a href="https://play.google.com/store/apps/details?id=co.rogers.qypqp" target="_blank">Our App Link</a></small>
</marquee>
<!-- <div class="mainContainer"> -->
  
  <div class="container1">

    <app-landing-page></app-landing-page>
  </div>
  <div class="playStore">
    <a style="text-decoration: none;" href="https://play.google.com/store/apps/details?id=co.rogers.qypqp" target="_blank">
    <div class="playstoreDiv">
      <div>

        <img src="../../assets/playStoreImg.png" alt="playStoreImg" />
      </div>
      <div>

        <p> Purchase this course on Our App :)</p>
      </div>
    </div>
  </a>
  </div>
  <div class="container3 course">
   <app-cource></app-cource>
  </div>
   <div class="container4">
    <app-contact></app-contact>
  </div>
  <div class="container5">
    <app-demo-classes></app-demo-classes>
  </div>
  <!-- <div class="container6">
    <swiper [config]="swiperConfig" >
      <div *ngFor="let client of clients; let index = index" ngxSwiperSlide>
        <div class="testimonial">
           <img [src]="client.img1" alt="cdcw" /> 
          <span class="font">{{ client.title }}</span>
        </div>
      </div>
    </swiper>
    
    
  </div> -->
  <div class="container6" id="studentSection">
    <h1>Our students have to say</h1>
    <p style="display: flex; justify-content: center;">It was the first batch : It started from August-September to January-February

      We are very much thankful to you for the initiative.</p>
    <div class="content">
      <div class="wrapper">
    <div class="students" *ngFor="let client of clients; let i = index">
      <mat-card style="background: none;" *ngIf="currentIndex === i">
        <img mat-card-image [src]="client.img" alt="Photo of a students">
        <mat-card-title style="padding: 0rem 3rem 3rem;">{{client.title}}</mat-card-title>
      </mat-card>
    </div>
  </div>
  </div>
  </div>
  <!-- <ng-template #banner>
    <h1>hello</h1>
    <img src="../../assets/testbanner.jpg">
  </ng-template> -->
  <app-footer></app-footer>
<!-- </div> -->
